<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824321247584-v770nn5826kcr34vp5p013nn4ug00cap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824321247584-v770nn5826kcr34vp5p013nn4ug00cap</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJLJGpuN6RrU9D9udA43MsMcxf1ydDwc</string>
	<key>GCM_SENDER_ID</key>
	<string>824321247584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.localife.application</string>
	<key>PROJECT_ID</key>
	<string>localife-dac23</string>
	<key>STORAGE_BUCKET</key>
	<string>localife-dac23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824321247584:ios:291a381ff797fc8e61f605</string>
</dict>
</plist>